body{
    background: #f2f2f2;
}
.heading{
  margin-left: 25%;
    padding: 10px;
}

.inputBox
{
    background: white;
    width:50%;
    height:100px;
    margin-left: 25%;
    padding: 50px;
}


.inputText
{
    width:50%;
    margin-left: 25%;
}

.outputBox{
  background: white;
  width:50%;
  height:200px;
  margin-left: 25%;
  padding: 50px;
}